@model Onboarding.Models.Course

@{
    ViewData["Title"] = "Szczegóły kursu";
}

<h2>Szczegóły kursu</h2>

<table class="table">
    <tr>
        <th>ID</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Nazwa</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Uczestnicy</th>
        <td>
            <ul>
                @foreach (var userCourse in Model.UserCourses)
                {
                    <li>@userCourse.User.Name @userCourse.User.Surname</li>
                }
            </ul>
        </td>
    </tr>
</table>

<hr />

<h3>Zadania w kursie</h3>
@if (Model.Tasks.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tytuł</th>
                <th>Opis</th>
                <th>Mentor</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model.Tasks)
            {
                <tr>
                    <td>@task.Id</td>
                    <td>@task.Title</td>
                    <td>@task.Description</td>
                    <td>@(task.Mentor != null ? task.Mentor.Name + " " + task.Mentor.Surname : "Brak")</td>
                    <td>
                        <a asp-controller="Tasks" asp-action="Execute" asp-route-taskId="@task.Id" class="btn btn-primary">
                            Wykonaj
                        </a>
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Brak zadań w kursie.</p>
}

<hr />

<h3>Linki do zadań</h3>
@if (Model.Tasks.SelectMany(t => t.Links).Any())
{
    <ul>
        @foreach (var task in Model.Tasks)
        {
            @foreach (var link in task.Links)
            {
                <li>
                    <a href="@link.LinkUrl" target="_blank">@link.Name</a> (Zadanie: @task.Title)
                </li>
            }
        }
    </ul>
}
else
{
    <p>Brak linków do zadań.</p>
}

<hr />

<h3>Testy w kursie</h3>
@if (Model.Tests.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nazwa testu</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var test in Model.Tests)
            {
                <tr>
                    <td>@test.Id</td>
                    <td>@test.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Brak testów w kursie.</p>
}

<a asp-action="Index" class="btn btn-secondary">Powrót do listy</a>
