@model Onboarding.Models.Test

@{
    ViewData["Title"] = "Test Details";
}

<h1>Test Details</h1>

<div>
    <h4>Test</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Name)
        </dd>
    </dl>
</div>

<h4>Pytania</h4>
<hr />
@foreach (var question in Model.Questions)
{
    <div>
        <strong>@question.Description</strong>
        <ul>
            <li>A. @question.AnswerA</li>
            <li>B. @question.AnswerB</li>
            <li>C. @question.AnswerC</li>
            <li>D. @question.AnswerD</li>
        </ul>
        <p><strong>Poprawna odpowiedź: @question.CorrectAnswer</strong></p>
    </div>
}
